{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Load jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>

    <!-- 메인 CSS 링크 -->
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <!-- Load c3.css -->
    <link href="{% static 'bower_components/c3/c3.css' %}" rel="stylesheet" type="text/css">
    <!-- Load d3.js and c3.js -->
    <script src="{% static 'bower_components/d3/d3.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'bower_components/c3/c3.min.js' %}"></script>
</head>
<body>

<div class="top-bar">
    <div class="top-menu-title">
        Analysis of 학식알림이
    </div>
</div>

<div class="main-contents-container">

    <div class="main-contents">
        <div class="label">
            전체요청횟수
        </div>
        <div id="total-request-chart"></div>
    </div>

    <div class="main-contents">
        <div class="label">
            식당별요청횟수
        </div>
        <div id="request-by-cafe-chart"></div>
    </div>

    <div class="main-contents">
        <div class="label">
            요일별 요청횟수
        </div>
        <div id="chart2"></div>
    </div>

    <div class="main-contents">
        <div class="label">
            중식 석식 요청 횟수
        </div>
        <div id="chart3"></div>
    </div>

</div>


</body>
<script type="text/javascript">
    $(document).ready( function () {
        var date_list_for_x_axis = {{ date_pack|safe }}
        var total_request_data = {{ total_request_data|safe }}

        var total_request_chart = c3.generate({
            bindto: '#total-request-chart',
            data: {
                x: 'x',
                columns: [
                    date_list_for_x_axis,
                    ['요청횟수', 0, 0, 0, 0, 0, 0, 0 ]
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%d'
                    }
                }
            }
        });

        var request_by_cafe_chart = c3.generate({
            bindto: '#request-by-cafe-chart',
            data: {
                x: 'x',
                columns: [
                    date_list_for_x_axis,
                    ['data2', 50, 20, 10, 40, 15, 25, 10]
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%d'
                    }
                }
            }
        });

        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                columns: [
                    ['data1', 30, 200, 100, 400, 150, 250],
                    ['data2', 50, 20, 10, 40, 15, 25]
                ]
            }
        });

        var chart3 = c3.generate({
            bindto: '#chart3',
            data: {
                columns: [
                    ['data1', 30, 200, 100, 400, 150, 250],
                    ['data2', 50, 20, 10, 40, 15, 25]
                ]
            }
        })

        setTimeout( function () {
            total_request_chart.load({
                columns:[
                    total_request_data
                ]
            });
        }, 1000);

    });
</script>
</html>

